//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 06 22:34:26 2014
//! **************************************************************************

SCHEMATIC START;
COMP "alt_scl_out" LOCATE = SITE "P74" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "data_rx" LOCATE = SITE "P78" LEVEL 1;
COMP "data_tx" LOCATE = SITE "P79" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
PIN rst_n_pin<0> = BEL "rst_n" PINNAME PAD;
PIN "rst_n_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "led<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "led<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "led<7>" LOCATE = SITE "P123" LEVEL 1;
COMP "imu_sda_out" LOCATE = SITE "P67" LEVEL 1;
COMP "imu_scl_out" LOCATE = SITE "P66" LEVEL 1;
COMP "gps_rx_pin" LOCATE = SITE "P84" LEVEL 1;
COMP "gps_tx_pin" LOCATE = SITE "P83" LEVEL 1;
COMP "alt_sda_out" LOCATE = SITE "P75" LEVEL 1;
TIMEGRP clk = BEL "IMU_I2C_Driver/count_16" BEL "IMU_I2C_Driver/count_15" BEL
        "IMU_I2C_Driver/count_14" BEL "IMU_I2C_Driver/count_13" BEL
        "IMU_I2C_Driver/count_12" BEL "IMU_I2C_Driver/count_11" BEL
        "IMU_I2C_Driver/count_10" BEL "IMU_I2C_Driver/count_9" BEL
        "IMU_I2C_Driver/count_8" BEL "IMU_I2C_Driver/count_7" BEL
        "IMU_I2C_Driver/count_6" BEL "IMU_I2C_Driver/count_5" BEL
        "IMU_I2C_Driver/count_4" BEL "IMU_I2C_Driver/count_3" BEL
        "IMU_I2C_Driver/count_2" BEL "IMU_I2C_Driver/count_1" BEL
        "IMU_I2C_Driver/count_0" BEL "IMU_I2C_Driver/count[16]_clk_DFF_79" BEL
        "IMU_I2C_Driver/scl_clk" BEL "Alt_I2C_Driver/count_16" BEL
        "Alt_I2C_Driver/count_15" BEL "Alt_I2C_Driver/count_14" BEL
        "Alt_I2C_Driver/count_13" BEL "Alt_I2C_Driver/count_12" BEL
        "Alt_I2C_Driver/count_11" BEL "Alt_I2C_Driver/count_10" BEL
        "Alt_I2C_Driver/count_9" BEL "Alt_I2C_Driver/count_8" BEL
        "Alt_I2C_Driver/count_7" BEL "Alt_I2C_Driver/count_6" BEL
        "Alt_I2C_Driver/count_5" BEL "Alt_I2C_Driver/count_4" BEL
        "Alt_I2C_Driver/count_3" BEL "Alt_I2C_Driver/count_2" BEL
        "Alt_I2C_Driver/count_1" BEL "Alt_I2C_Driver/count_0" BEL
        "Alt_I2C_Driver/count[16]_clk_DFF_79" BEL "Alt_I2C_Driver/scl_clk" BEL
        "cam_I2C_Driver/count_15" BEL "cam_I2C_Driver/count_14" BEL
        "cam_I2C_Driver/count_13" BEL "cam_I2C_Driver/count_12" BEL
        "cam_I2C_Driver/count_11" BEL "cam_I2C_Driver/count_10" BEL
        "cam_I2C_Driver/count_9" BEL "cam_I2C_Driver/count_8" BEL
        "cam_I2C_Driver/count_7" BEL "cam_I2C_Driver/count_6" BEL
        "cam_I2C_Driver/count_5" BEL "cam_I2C_Driver/count_4" BEL
        "cam_I2C_Driver/count_3" BEL "cam_I2C_Driver/count_2" BEL
        "cam_I2C_Driver/count_1" BEL "cam_I2C_Driver/count_0" BEL
        "cam_I2C_Driver/count[16]_clk_DFF_480" BEL
        "Data_Controller/state_FSM_FFd1" BEL "Data_Controller/state_FSM_FFd2"
        BEL "Data_Controller/data_tx_7" BEL "Data_Controller/data_tx_6" BEL
        "Data_Controller/data_tx_5" BEL "Data_Controller/data_tx_4" BEL
        "Data_Controller/data_tx_3" BEL "Data_Controller/data_tx_2" BEL
        "Data_Controller/data_tx_1" BEL "Data_Controller/data_tx_0" BEL
        "Data_Controller/new_data_tx" BEL "Data_Controller/addr_7" BEL
        "Data_Controller/addr_6" BEL "Data_Controller/addr_5" BEL
        "Data_Controller/addr_4" BEL "Data_Controller/addr_3" BEL
        "Data_Controller/addr_2" BEL "Data_Controller/addr_1" BEL
        "Data_Controller/addr_0" BEL "GPS_serial_rx/bit_ctr_q_2" BEL
        "GPS_serial_rx/bit_ctr_q_1" BEL "GPS_serial_rx/bit_ctr_q_0" BEL
        "GPS_serial_rx/state_q_FSM_FFd1" BEL "GPS_serial_rx/state_q_FSM_FFd2"
        BEL "GPS_serial_rx/ctr_q_12" BEL "GPS_serial_rx/ctr_q_11" BEL
        "GPS_serial_rx/ctr_q_10" BEL "GPS_serial_rx/ctr_q_9" BEL
        "GPS_serial_rx/ctr_q_8" BEL "GPS_serial_rx/ctr_q_7" BEL
        "GPS_serial_rx/ctr_q_6" BEL "GPS_serial_rx/ctr_q_5" BEL
        "GPS_serial_rx/ctr_q_4" BEL "GPS_serial_rx/ctr_q_3" BEL
        "GPS_serial_rx/ctr_q_2" BEL "GPS_serial_rx/ctr_q_1" BEL
        "GPS_serial_rx/ctr_q_0" BEL "GPS_serial_rx/new_data_q" BEL
        "GPS_serial_rx/data_q_7" BEL "GPS_serial_rx/data_q_6" BEL
        "GPS_serial_rx/data_q_5" BEL "GPS_serial_rx/data_q_4" BEL
        "GPS_serial_rx/data_q_3" BEL "GPS_serial_rx/data_q_2" BEL
        "GPS_serial_rx/data_q_1" BEL "GPS_serial_rx/data_q_0" BEL
        "GPS_serial_rx/rx_q" BEL "Data_serial_rx/bit_ctr_q_2" BEL
        "Data_serial_rx/bit_ctr_q_1" BEL "Data_serial_rx/bit_ctr_q_0" BEL
        "Data_serial_rx/state_q_FSM_FFd1" BEL
        "Data_serial_rx/state_q_FSM_FFd2" BEL "Data_serial_rx/ctr_q_12" BEL
        "Data_serial_rx/ctr_q_11" BEL "Data_serial_rx/ctr_q_10" BEL
        "Data_serial_rx/ctr_q_9" BEL "Data_serial_rx/ctr_q_8" BEL
        "Data_serial_rx/ctr_q_7" BEL "Data_serial_rx/ctr_q_6" BEL
        "Data_serial_rx/ctr_q_5" BEL "Data_serial_rx/ctr_q_4" BEL
        "Data_serial_rx/ctr_q_3" BEL "Data_serial_rx/ctr_q_2" BEL
        "Data_serial_rx/ctr_q_1" BEL "Data_serial_rx/ctr_q_0" BEL
        "Data_serial_rx/new_data_q" BEL "Data_serial_rx/data_q_7" BEL
        "Data_serial_rx/data_q_6" BEL "Data_serial_rx/data_q_5" BEL
        "Data_serial_rx/data_q_4" BEL "Data_serial_rx/data_q_3" BEL
        "Data_serial_rx/data_q_2" BEL "Data_serial_rx/data_q_1" BEL
        "Data_serial_rx/data_q_0" BEL "Data_serial_rx/rx_q" BEL
        "GPS_serial_tx/bit_ctr_q_2" BEL "GPS_serial_tx/bit_ctr_q_1" BEL
        "GPS_serial_tx/bit_ctr_q_0" BEL "GPS_serial_tx/state_q_FSM_FFd1" BEL
        "GPS_serial_tx/state_q_FSM_FFd2" BEL "GPS_serial_tx/ctr_q_12" BEL
        "GPS_serial_tx/ctr_q_11" BEL "GPS_serial_tx/ctr_q_10" BEL
        "GPS_serial_tx/ctr_q_9" BEL "GPS_serial_tx/ctr_q_8" BEL
        "GPS_serial_tx/ctr_q_7" BEL "GPS_serial_tx/ctr_q_6" BEL
        "GPS_serial_tx/ctr_q_5" BEL "GPS_serial_tx/ctr_q_4" BEL
        "GPS_serial_tx/ctr_q_3" BEL "GPS_serial_tx/ctr_q_2" BEL
        "GPS_serial_tx/ctr_q_1" BEL "GPS_serial_tx/ctr_q_0" BEL
        "GPS_serial_tx/tx_q" BEL "GPS_serial_tx/data_q_7" BEL
        "GPS_serial_tx/data_q_6" BEL "GPS_serial_tx/data_q_5" BEL
        "GPS_serial_tx/data_q_4" BEL "GPS_serial_tx/data_q_3" BEL
        "GPS_serial_tx/data_q_2" BEL "GPS_serial_tx/data_q_1" BEL
        "GPS_serial_tx/data_q_0" BEL "Data_serial_tx/bit_ctr_q_2" BEL
        "Data_serial_tx/bit_ctr_q_1" BEL "Data_serial_tx/bit_ctr_q_0" BEL
        "Data_serial_tx/state_q_FSM_FFd1" BEL
        "Data_serial_tx/state_q_FSM_FFd2" BEL "Data_serial_tx/ctr_q_12" BEL
        "Data_serial_tx/ctr_q_11" BEL "Data_serial_tx/ctr_q_10" BEL
        "Data_serial_tx/ctr_q_9" BEL "Data_serial_tx/ctr_q_8" BEL
        "Data_serial_tx/ctr_q_7" BEL "Data_serial_tx/ctr_q_6" BEL
        "Data_serial_tx/ctr_q_5" BEL "Data_serial_tx/ctr_q_4" BEL
        "Data_serial_tx/ctr_q_3" BEL "Data_serial_tx/ctr_q_2" BEL
        "Data_serial_tx/ctr_q_1" BEL "Data_serial_tx/ctr_q_0" BEL
        "Data_serial_tx/tx_q" BEL "Data_serial_tx/data_q_7" BEL
        "Data_serial_tx/data_q_6" BEL "Data_serial_tx/data_q_5" BEL
        "Data_serial_tx/data_q_4" BEL "Data_serial_tx/data_q_3" BEL
        "Data_serial_tx/data_q_2" BEL "Data_serial_tx/data_q_1" BEL
        "Data_serial_tx/data_q_0" BEL "Altimeter_Controller/state_FSM_FFd2"
        BEL "Altimeter_Controller/state_FSM_FFd3" BEL
        "Altimeter_Controller/state_FSM_FFd1" BEL
        "Altimeter_Controller/state_FSM_FFd5" BEL
        "Altimeter_Controller/state_FSM_FFd6" BEL
        "Altimeter_Controller/state_FSM_FFd4" BEL
        "Altimeter_Controller/data_wr_7" BEL "Altimeter_Controller/data_wr_6"
        BEL "Altimeter_Controller/data_wr_5" BEL
        "Altimeter_Controller/data_wr_4" BEL "Altimeter_Controller/data_wr_3"
        BEL "Altimeter_Controller/data_wr_2" BEL
        "Altimeter_Controller/data_wr_1" BEL "Altimeter_Controller/data_wr_0"
        BEL "Altimeter_Controller/start_transfer" BEL
        "Altimeter_Controller/r_start" BEL
        "Altimeter_Controller/stop_transfer" BEL "Altimeter_Controller/ena"
        BEL "Altimeter_Controller/rw" BEL "IMU_Controller/state_FSM_FFd2" BEL
        "IMU_Controller/state_FSM_FFd3" BEL "IMU_Controller/state_FSM_FFd1"
        BEL "IMU_Controller/state_FSM_FFd4" BEL
        "IMU_Controller/state_FSM_FFd5" BEL "IMU_Controller/state_FSM_FFd6"
        BEL "IMU_Controller/state_FSM_FFd7" BEL
        "IMU_Controller/state_FSM_FFd8" BEL "IMU_Controller/state_FSM_FFd9"
        BEL "IMU_Controller/state_FSM_FFd10" BEL
        "IMU_Controller/state_FSM_FFd11" BEL "IMU_Controller/state_FSM_FFd12"
        BEL "IMU_Controller/state_FSM_FFd13" BEL
        "IMU_Controller/state_FSM_FFd14" BEL "IMU_Controller/state_FSM_FFd15"
        BEL "IMU_Controller/state_FSM_FFd16" BEL
        "IMU_Controller/state_FSM_FFd17" BEL "IMU_Controller/state_FSM_FFd18"
        BEL "IMU_Controller/state_FSM_FFd19" BEL
        "IMU_Controller/state_FSM_FFd20" BEL "IMU_Controller/state_FSM_FFd21"
        BEL "IMU_Controller/state_FSM_FFd22" BEL
        "IMU_Controller/state_FSM_FFd23" BEL "IMU_Controller/state_FSM_FFd24"
        BEL "IMU_Controller/state_FSM_FFd25" BEL
        "IMU_Controller/state_FSM_FFd26" BEL "IMU_Controller/state_FSM_FFd27"
        BEL "IMU_Controller/state_FSM_FFd28" BEL
        "IMU_Controller/state_FSM_FFd29" BEL "IMU_Controller/state_FSM_FFd30"
        BEL "IMU_Controller/state_FSM_FFd31" BEL
        "IMU_Controller/state_FSM_FFd33" BEL "IMU_Controller/state_FSM_FFd34"
        BEL "IMU_Controller/state_FSM_FFd32" BEL
        "IMU_Controller/state_FSM_FFd35" BEL "IMU_Controller/state_FSM_FFd36"
        BEL "IMU_Controller/state_FSM_FFd37" BEL
        "IMU_Controller/state_FSM_FFd38" BEL "IMU_Controller/state_FSM_FFd39"
        BEL "IMU_Controller/state_FSM_FFd40" BEL
        "IMU_Controller/state_FSM_FFd41" BEL "IMU_Controller/state_FSM_FFd42"
        BEL "IMU_Controller/state_FSM_FFd43" BEL
        "IMU_Controller/state_FSM_FFd44" BEL "IMU_Controller/state_FSM_FFd45"
        BEL "IMU_Controller/state_FSM_FFd46" BEL
        "IMU_Controller/state_FSM_FFd47" BEL "IMU_Controller/state_FSM_FFd48"
        BEL "IMU_Controller/state_FSM_FFd49" BEL
        "IMU_Controller/state_FSM_FFd50" BEL "IMU_Controller/state_FSM_FFd51"
        BEL "IMU_Controller/state_FSM_FFd52" BEL
        "IMU_Controller/state_FSM_FFd53" BEL "IMU_Controller/state_FSM_FFd54"
        BEL "IMU_Controller/state_FSM_FFd55" BEL
        "IMU_Controller/state_FSM_FFd56" BEL "IMU_Controller/state_FSM_FFd57"
        BEL "IMU_Controller/state_FSM_FFd58" BEL
        "IMU_Controller/state_FSM_FFd59" BEL "IMU_Controller/state_FSM_FFd60"
        BEL "IMU_Controller/state_FSM_FFd61" BEL
        "IMU_Controller/state_FSM_FFd62" BEL "IMU_Controller/state_FSM_FFd64"
        BEL "IMU_Controller/state_FSM_FFd65" BEL
        "IMU_Controller/state_FSM_FFd63" BEL "IMU_Controller/state_FSM_FFd66"
        BEL "IMU_Controller/state_FSM_FFd67" BEL
        "IMU_Controller/state_FSM_FFd68" BEL "IMU_Controller/state_FSM_FFd69"
        BEL "IMU_Controller/state_FSM_FFd70" BEL
        "IMU_Controller/state_FSM_FFd71" BEL "IMU_Controller/state_FSM_FFd72"
        BEL "IMU_Controller/state_FSM_FFd73" BEL
        "IMU_Controller/state_FSM_FFd74" BEL "IMU_Controller/state_FSM_FFd75"
        BEL "IMU_Controller/state_FSM_FFd76" BEL
        "IMU_Controller/state_FSM_FFd77" BEL "IMU_Controller/state_FSM_FFd78"
        BEL "IMU_Controller/state_FSM_FFd79" BEL
        "IMU_Controller/state_FSM_FFd80" BEL "IMU_Controller/state_FSM_FFd81"
        BEL "IMU_Controller/state_FSM_FFd82" BEL
        "IMU_Controller/state_FSM_FFd83" BEL "IMU_Controller/state_FSM_FFd84"
        BEL "IMU_Controller/state_FSM_FFd85" BEL
        "IMU_Controller/state_FSM_FFd86" BEL "IMU_Controller/state_FSM_FFd87"
        BEL "IMU_Controller/state_FSM_FFd88" BEL
        "IMU_Controller/state_FSM_FFd89" BEL "IMU_Controller/state_FSM_FFd90"
        BEL "IMU_Controller/state_FSM_FFd91" BEL
        "IMU_Controller/state_FSM_FFd92" BEL "IMU_Controller/state_FSM_FFd93"
        BEL "IMU_Controller/state_FSM_FFd95" BEL
        "IMU_Controller/state_FSM_FFd96" BEL "IMU_Controller/state_FSM_FFd94"
        BEL "IMU_Controller/state_FSM_FFd97" BEL
        "IMU_Controller/state_FSM_FFd98" BEL "IMU_Controller/state_FSM_FFd99"
        BEL "IMU_Controller/state_FSM_FFd100" BEL
        "IMU_Controller/state_FSM_FFd101" BEL
        "IMU_Controller/state_FSM_FFd102" BEL
        "IMU_Controller/state_FSM_FFd103" BEL
        "IMU_Controller/state_FSM_FFd104" BEL
        "IMU_Controller/state_FSM_FFd105" BEL
        "IMU_Controller/state_FSM_FFd106" BEL
        "IMU_Controller/state_FSM_FFd107" BEL
        "IMU_Controller/state_FSM_FFd108" BEL
        "IMU_Controller/state_FSM_FFd109" BEL
        "IMU_Controller/state_FSM_FFd110" BEL
        "IMU_Controller/state_FSM_FFd111" BEL
        "IMU_Controller/state_FSM_FFd112" BEL
        "IMU_Controller/state_FSM_FFd113" BEL
        "IMU_Controller/state_FSM_FFd114" BEL
        "IMU_Controller/state_FSM_FFd115" BEL
        "IMU_Controller/state_FSM_FFd116" BEL
        "IMU_Controller/state_FSM_FFd117" BEL
        "IMU_Controller/state_FSM_FFd118" BEL
        "IMU_Controller/state_FSM_FFd119" BEL
        "IMU_Controller/state_FSM_FFd120" BEL
        "IMU_Controller/state_FSM_FFd121" BEL
        "IMU_Controller/state_FSM_FFd122" BEL
        "IMU_Controller/state_FSM_FFd123" BEL
        "IMU_Controller/state_FSM_FFd124" BEL
        "IMU_Controller/state_FSM_FFd126" BEL
        "IMU_Controller/state_FSM_FFd127" BEL
        "IMU_Controller/state_FSM_FFd125" BEL
        "IMU_Controller/state_FSM_FFd128" BEL
        "IMU_Controller/state_FSM_FFd129" BEL
        "IMU_Controller/state_FSM_FFd130" BEL
        "IMU_Controller/state_FSM_FFd131" BEL
        "IMU_Controller/state_FSM_FFd132" BEL
        "IMU_Controller/state_FSM_FFd133" BEL
        "IMU_Controller/state_FSM_FFd134" BEL
        "IMU_Controller/state_FSM_FFd135" BEL
        "IMU_Controller/state_FSM_FFd136" BEL
        "IMU_Controller/state_FSM_FFd137" BEL
        "IMU_Controller/state_FSM_FFd138" BEL
        "IMU_Controller/state_FSM_FFd139" BEL
        "IMU_Controller/state_FSM_FFd140" BEL
        "IMU_Controller/state_FSM_FFd141" BEL
        "IMU_Controller/state_FSM_FFd142" BEL
        "IMU_Controller/state_FSM_FFd143" BEL
        "IMU_Controller/state_FSM_FFd144" BEL
        "IMU_Controller/state_FSM_FFd145" BEL
        "IMU_Controller/state_FSM_FFd146" BEL
        "IMU_Controller/state_FSM_FFd147" BEL
        "IMU_Controller/state_FSM_FFd148" BEL
        "IMU_Controller/state_FSM_FFd149" BEL
        "IMU_Controller/state_FSM_FFd150" BEL
        "IMU_Controller/state_FSM_FFd151" BEL
        "IMU_Controller/state_FSM_FFd152" BEL
        "IMU_Controller/state_FSM_FFd153" BEL
        "IMU_Controller/state_FSM_FFd154" BEL
        "IMU_Controller/state_FSM_FFd155" BEL
        "IMU_Controller/state_FSM_FFd157" BEL
        "IMU_Controller/state_FSM_FFd158" BEL
        "IMU_Controller/state_FSM_FFd156" BEL
        "IMU_Controller/state_FSM_FFd159" BEL
        "IMU_Controller/state_FSM_FFd160" BEL
        "IMU_Controller/state_FSM_FFd161" BEL
        "IMU_Controller/state_FSM_FFd162" BEL
        "IMU_Controller/state_FSM_FFd163" BEL
        "IMU_Controller/state_FSM_FFd164" BEL
        "IMU_Controller/state_FSM_FFd165" BEL
        "IMU_Controller/state_FSM_FFd166" BEL
        "IMU_Controller/state_FSM_FFd167" BEL
        "IMU_Controller/state_FSM_FFd168" BEL
        "IMU_Controller/state_FSM_FFd169" BEL
        "IMU_Controller/state_FSM_FFd170" BEL
        "IMU_Controller/state_FSM_FFd171" BEL
        "IMU_Controller/state_FSM_FFd172" BEL
        "IMU_Controller/state_FSM_FFd173" BEL
        "IMU_Controller/state_FSM_FFd174" BEL
        "IMU_Controller/state_FSM_FFd175" BEL
        "IMU_Controller/state_FSM_FFd176" BEL
        "IMU_Controller/state_FSM_FFd177" BEL
        "IMU_Controller/state_FSM_FFd178" BEL
        "IMU_Controller/state_FSM_FFd179" BEL
        "IMU_Controller/state_FSM_FFd180" BEL
        "IMU_Controller/state_FSM_FFd181" BEL
        "IMU_Controller/state_FSM_FFd182" BEL
        "IMU_Controller/state_FSM_FFd183" BEL
        "IMU_Controller/state_FSM_FFd184" BEL
        "IMU_Controller/state_FSM_FFd185" BEL
        "IMU_Controller/state_FSM_FFd186" BEL
        "IMU_Controller/state_FSM_FFd188" BEL
        "IMU_Controller/state_FSM_FFd189" BEL
        "IMU_Controller/state_FSM_FFd187" BEL
        "IMU_Controller/state_FSM_FFd190" BEL
        "IMU_Controller/state_FSM_FFd191" BEL
        "IMU_Controller/state_FSM_FFd192" BEL
        "IMU_Controller/state_FSM_FFd193" BEL
        "IMU_Controller/state_FSM_FFd194" BEL
        "IMU_Controller/state_FSM_FFd195" BEL
        "IMU_Controller/state_FSM_FFd196" BEL
        "IMU_Controller/state_FSM_FFd197" BEL
        "IMU_Controller/state_FSM_FFd198" BEL
        "IMU_Controller/state_FSM_FFd199" BEL
        "IMU_Controller/state_FSM_FFd200" BEL
        "IMU_Controller/state_FSM_FFd201" BEL
        "IMU_Controller/state_FSM_FFd202" BEL
        "IMU_Controller/state_FSM_FFd203" BEL
        "IMU_Controller/state_FSM_FFd204" BEL
        "IMU_Controller/state_FSM_FFd205" BEL
        "IMU_Controller/state_FSM_FFd206" BEL
        "IMU_Controller/state_FSM_FFd207" BEL
        "IMU_Controller/state_FSM_FFd208" BEL
        "IMU_Controller/state_FSM_FFd209" BEL
        "IMU_Controller/state_FSM_FFd210" BEL
        "IMU_Controller/state_FSM_FFd211" BEL
        "IMU_Controller/state_FSM_FFd212" BEL
        "IMU_Controller/state_FSM_FFd213" BEL
        "IMU_Controller/state_FSM_FFd214" BEL
        "IMU_Controller/state_FSM_FFd215" BEL
        "IMU_Controller/state_FSM_FFd216" BEL
        "IMU_Controller/state_FSM_FFd217" BEL
        "IMU_Controller/state_FSM_FFd218" BEL
        "IMU_Controller/state_FSM_FFd219" BEL
        "IMU_Controller/state_FSM_FFd220" BEL
        "IMU_Controller/state_FSM_FFd221" BEL
        "IMU_Controller/state_FSM_FFd222" BEL
        "IMU_Controller/state_FSM_FFd223" BEL
        "IMU_Controller/state_FSM_FFd224" BEL
        "IMU_Controller/state_FSM_FFd225" BEL
        "IMU_Controller/state_FSM_FFd226" BEL
        "IMU_Controller/state_FSM_FFd227" BEL
        "IMU_Controller/state_FSM_FFd228" BEL
        "IMU_Controller/state_FSM_FFd229" BEL
        "IMU_Controller/state_FSM_FFd230" BEL
        "IMU_Controller/state_FSM_FFd231" BEL
        "IMU_Controller/state_FSM_FFd232" BEL
        "IMU_Controller/state_FSM_FFd233" BEL
        "IMU_Controller/state_FSM_FFd234" BEL
        "IMU_Controller/state_FSM_FFd235" BEL
        "IMU_Controller/state_FSM_FFd236" BEL
        "IMU_Controller/state_FSM_FFd237" BEL
        "IMU_Controller/state_FSM_FFd238" BEL
        "IMU_Controller/state_FSM_FFd239" BEL
        "IMU_Controller/state_FSM_FFd240" BEL
        "IMU_Controller/state_FSM_FFd241" BEL
        "IMU_Controller/state_FSM_FFd242" BEL
        "IMU_Controller/state_FSM_FFd243" BEL
        "IMU_Controller/state_FSM_FFd244" BEL
        "IMU_Controller/state_FSM_FFd245" BEL
        "IMU_Controller/state_FSM_FFd246" BEL
        "IMU_Controller/state_FSM_FFd247" BEL
        "IMU_Controller/state_FSM_FFd248" BEL
        "IMU_Controller/state_FSM_FFd249" BEL
        "IMU_Controller/state_FSM_FFd251" BEL
        "IMU_Controller/state_FSM_FFd252" BEL
        "IMU_Controller/state_FSM_FFd250" BEL
        "IMU_Controller/state_FSM_FFd253" BEL
        "IMU_Controller/state_FSM_FFd254" BEL
        "IMU_Controller/state_FSM_FFd255" BEL
        "IMU_Controller/state_FSM_FFd256" BEL
        "IMU_Controller/state_FSM_FFd257" BEL
        "IMU_Controller/state_FSM_FFd258" BEL
        "IMU_Controller/state_FSM_FFd259" BEL
        "IMU_Controller/state_FSM_FFd260" BEL
        "IMU_Controller/state_FSM_FFd261" BEL
        "IMU_Controller/state_FSM_FFd262" BEL
        "IMU_Controller/state_FSM_FFd263" BEL
        "IMU_Controller/state_FSM_FFd264" BEL
        "IMU_Controller/state_FSM_FFd265" BEL
        "IMU_Controller/state_FSM_FFd266" BEL
        "IMU_Controller/state_FSM_FFd267" BEL
        "IMU_Controller/state_FSM_FFd268" BEL
        "IMU_Controller/state_FSM_FFd269" BEL
        "IMU_Controller/state_FSM_FFd270" BEL
        "IMU_Controller/state_FSM_FFd271" BEL
        "IMU_Controller/state_FSM_FFd272" BEL
        "IMU_Controller/state_FSM_FFd273" BEL
        "IMU_Controller/state_FSM_FFd274" BEL
        "IMU_Controller/state_FSM_FFd275" BEL
        "IMU_Controller/state_FSM_FFd276" BEL
        "IMU_Controller/state_FSM_FFd277" BEL
        "IMU_Controller/state_FSM_FFd278" BEL
        "IMU_Controller/state_FSM_FFd279" BEL
        "IMU_Controller/state_FSM_FFd280" BEL
        "IMU_Controller/state_FSM_FFd282" BEL
        "IMU_Controller/state_FSM_FFd283" BEL
        "IMU_Controller/state_FSM_FFd281" BEL
        "IMU_Controller/state_FSM_FFd284" BEL
        "IMU_Controller/state_FSM_FFd285" BEL
        "IMU_Controller/state_FSM_FFd286" BEL
        "IMU_Controller/state_FSM_FFd287" BEL
        "IMU_Controller/state_FSM_FFd288" BEL
        "IMU_Controller/state_FSM_FFd289" BEL
        "IMU_Controller/state_FSM_FFd290" BEL
        "IMU_Controller/state_FSM_FFd291" BEL
        "IMU_Controller/state_FSM_FFd292" BEL
        "IMU_Controller/state_FSM_FFd293" BEL
        "IMU_Controller/state_FSM_FFd294" BEL
        "IMU_Controller/state_FSM_FFd295" BEL
        "IMU_Controller/state_FSM_FFd296" BEL
        "IMU_Controller/state_FSM_FFd297" BEL
        "IMU_Controller/state_FSM_FFd298" BEL
        "IMU_Controller/state_FSM_FFd299" BEL
        "IMU_Controller/state_FSM_FFd300" BEL
        "IMU_Controller/state_FSM_FFd301" BEL
        "IMU_Controller/state_FSM_FFd302" BEL
        "IMU_Controller/state_FSM_FFd303" BEL
        "IMU_Controller/state_FSM_FFd304" BEL
        "IMU_Controller/state_FSM_FFd305" BEL
        "IMU_Controller/state_FSM_FFd306" BEL
        "IMU_Controller/state_FSM_FFd307" BEL
        "IMU_Controller/state_FSM_FFd308" BEL
        "IMU_Controller/state_FSM_FFd309" BEL
        "IMU_Controller/state_FSM_FFd310" BEL
        "IMU_Controller/state_FSM_FFd311" BEL
        "IMU_Controller/state_FSM_FFd313" BEL
        "IMU_Controller/state_FSM_FFd314" BEL
        "IMU_Controller/state_FSM_FFd312" BEL
        "IMU_Controller/state_FSM_FFd315" BEL
        "IMU_Controller/state_FSM_FFd316" BEL
        "IMU_Controller/state_FSM_FFd317" BEL
        "IMU_Controller/state_FSM_FFd318" BEL
        "IMU_Controller/state_FSM_FFd319" BEL
        "IMU_Controller/state_FSM_FFd320" BEL
        "IMU_Controller/state_FSM_FFd321" BEL
        "IMU_Controller/state_FSM_FFd322" BEL
        "IMU_Controller/state_FSM_FFd323" BEL
        "IMU_Controller/state_FSM_FFd324" BEL
        "IMU_Controller/state_FSM_FFd325" BEL
        "IMU_Controller/state_FSM_FFd326" BEL
        "IMU_Controller/state_FSM_FFd327" BEL
        "IMU_Controller/state_FSM_FFd328" BEL
        "IMU_Controller/state_FSM_FFd329" BEL
        "IMU_Controller/state_FSM_FFd330" BEL
        "IMU_Controller/state_FSM_FFd331" BEL
        "IMU_Controller/state_FSM_FFd332" BEL
        "IMU_Controller/state_FSM_FFd333" BEL
        "IMU_Controller/state_FSM_FFd334" BEL
        "IMU_Controller/state_FSM_FFd335" BEL
        "IMU_Controller/state_FSM_FFd336" BEL
        "IMU_Controller/state_FSM_FFd337" BEL
        "IMU_Controller/state_FSM_FFd338" BEL
        "IMU_Controller/state_FSM_FFd339" BEL
        "IMU_Controller/state_FSM_FFd340" BEL "IMU_Controller/ACCL_Y_15" BEL
        "IMU_Controller/ACCL_Y_14" BEL "IMU_Controller/ACCL_Y_13" BEL
        "IMU_Controller/ACCL_Y_12" BEL "IMU_Controller/ACCL_Y_11" BEL
        "IMU_Controller/ACCL_Y_10" BEL "IMU_Controller/ACCL_Y_9" BEL
        "IMU_Controller/ACCL_Y_8" BEL "IMU_Controller/ACCL_Y_7" BEL
        "IMU_Controller/ACCL_Y_6" BEL "IMU_Controller/ACCL_Y_5" BEL
        "IMU_Controller/ACCL_Y_4" BEL "IMU_Controller/ACCL_Y_3" BEL
        "IMU_Controller/ACCL_Y_2" BEL "IMU_Controller/ACCL_Y_1" BEL
        "IMU_Controller/ACCL_Y_0" BEL "IMU_Controller/ACCL_X_15" BEL
        "IMU_Controller/ACCL_X_14" BEL "IMU_Controller/ACCL_X_13" BEL
        "IMU_Controller/ACCL_X_12" BEL "IMU_Controller/ACCL_X_11" BEL
        "IMU_Controller/ACCL_X_10" BEL "IMU_Controller/ACCL_X_9" BEL
        "IMU_Controller/ACCL_X_8" BEL "IMU_Controller/ACCL_X_7" BEL
        "IMU_Controller/ACCL_X_6" BEL "IMU_Controller/ACCL_X_5" BEL
        "IMU_Controller/ACCL_X_4" BEL "IMU_Controller/ACCL_X_3" BEL
        "IMU_Controller/ACCL_X_2" BEL "IMU_Controller/ACCL_X_1" BEL
        "IMU_Controller/ACCL_X_0" BEL "IMU_Controller/ACCL_Z_15" BEL
        "IMU_Controller/ACCL_Z_14" BEL "IMU_Controller/ACCL_Z_13" BEL
        "IMU_Controller/ACCL_Z_12" BEL "IMU_Controller/ACCL_Z_11" BEL
        "IMU_Controller/ACCL_Z_10" BEL "IMU_Controller/ACCL_Z_9" BEL
        "IMU_Controller/ACCL_Z_8" BEL "IMU_Controller/ACCL_Z_7" BEL
        "IMU_Controller/ACCL_Z_6" BEL "IMU_Controller/ACCL_Z_5" BEL
        "IMU_Controller/ACCL_Z_4" BEL "IMU_Controller/ACCL_Z_3" BEL
        "IMU_Controller/ACCL_Z_2" BEL "IMU_Controller/ACCL_Z_1" BEL
        "IMU_Controller/ACCL_Z_0" BEL "IMU_Controller/GYRO_Y_15" BEL
        "IMU_Controller/GYRO_Y_14" BEL "IMU_Controller/GYRO_Y_13" BEL
        "IMU_Controller/GYRO_Y_12" BEL "IMU_Controller/GYRO_Y_11" BEL
        "IMU_Controller/GYRO_Y_10" BEL "IMU_Controller/GYRO_Y_9" BEL
        "IMU_Controller/GYRO_Y_8" BEL "IMU_Controller/GYRO_Y_7" BEL
        "IMU_Controller/GYRO_Y_6" BEL "IMU_Controller/GYRO_Y_5" BEL
        "IMU_Controller/GYRO_Y_4" BEL "IMU_Controller/GYRO_Y_3" BEL
        "IMU_Controller/GYRO_Y_2" BEL "IMU_Controller/GYRO_Y_1" BEL
        "IMU_Controller/GYRO_Y_0" BEL "IMU_Controller/GYRO_X_15" BEL
        "IMU_Controller/GYRO_X_14" BEL "IMU_Controller/GYRO_X_13" BEL
        "IMU_Controller/GYRO_X_12" BEL "IMU_Controller/GYRO_X_11" BEL
        "IMU_Controller/GYRO_X_10" BEL "IMU_Controller/GYRO_X_9" BEL
        "IMU_Controller/GYRO_X_8" BEL "IMU_Controller/GYRO_X_7" BEL
        "IMU_Controller/GYRO_X_6" BEL "IMU_Controller/GYRO_X_5" BEL
        "IMU_Controller/GYRO_X_4" BEL "IMU_Controller/GYRO_X_3" BEL
        "IMU_Controller/GYRO_X_2" BEL "IMU_Controller/GYRO_X_1" BEL
        "IMU_Controller/GYRO_X_0" BEL "IMU_Controller/GYRO_Z_15" BEL
        "IMU_Controller/GYRO_Z_14" BEL "IMU_Controller/GYRO_Z_13" BEL
        "IMU_Controller/GYRO_Z_12" BEL "IMU_Controller/GYRO_Z_11" BEL
        "IMU_Controller/GYRO_Z_10" BEL "IMU_Controller/GYRO_Z_9" BEL
        "IMU_Controller/GYRO_Z_8" BEL "IMU_Controller/GYRO_Z_7" BEL
        "IMU_Controller/GYRO_Z_6" BEL "IMU_Controller/GYRO_Z_5" BEL
        "IMU_Controller/GYRO_Z_4" BEL "IMU_Controller/GYRO_Z_3" BEL
        "IMU_Controller/GYRO_Z_2" BEL "IMU_Controller/GYRO_Z_1" BEL
        "IMU_Controller/GYRO_Z_0" BEL "IMU_Controller/GYRO_TEMP_7" BEL
        "IMU_Controller/GYRO_TEMP_6" BEL "IMU_Controller/GYRO_TEMP_5" BEL
        "IMU_Controller/GYRO_TEMP_4" BEL "IMU_Controller/GYRO_TEMP_3" BEL
        "IMU_Controller/GYRO_TEMP_2" BEL "IMU_Controller/GYRO_TEMP_1" BEL
        "IMU_Controller/GYRO_TEMP_0" BEL "IMU_Controller/MAGM_Y_7" BEL
        "IMU_Controller/MAGM_Y_6" BEL "IMU_Controller/MAGM_Y_5" BEL
        "IMU_Controller/MAGM_Y_4" BEL "IMU_Controller/MAGM_Y_3" BEL
        "IMU_Controller/MAGM_Y_2" BEL "IMU_Controller/MAGM_Y_1" BEL
        "IMU_Controller/MAGM_Y_0" BEL "IMU_Controller/MAGM_X_7" BEL
        "IMU_Controller/MAGM_X_6" BEL "IMU_Controller/MAGM_X_5" BEL
        "IMU_Controller/MAGM_X_4" BEL "IMU_Controller/MAGM_X_3" BEL
        "IMU_Controller/MAGM_X_2" BEL "IMU_Controller/MAGM_X_1" BEL
        "IMU_Controller/MAGM_X_0" BEL "IMU_Controller/MAGM_Z_7" BEL
        "IMU_Controller/MAGM_Z_6" BEL "IMU_Controller/MAGM_Z_5" BEL
        "IMU_Controller/MAGM_Z_4" BEL "IMU_Controller/MAGM_Z_3" BEL
        "IMU_Controller/MAGM_Z_2" BEL "IMU_Controller/MAGM_Z_1" BEL
        "IMU_Controller/MAGM_Z_0" BEL "IMU_Controller/r_start" BEL
        "IMU_Controller/ena" BEL "IMU_Controller/stop_transfer" BEL
        "IMU_Controller/rw" BEL "IMU_Controller/start_transfer" BEL
        "GPS_Controller/rom_msg_1" BEL "GPS_Controller/rom_msg_0" BEL
        "GPS_Controller/ack_index_4" BEL "GPS_Controller/ack_index_3" BEL
        "GPS_Controller/ack_index_2" BEL "GPS_Controller/ack_index_1" BEL
        "GPS_Controller/ack_index_0" BEL "GPS_Controller/rom_index_5" BEL
        "GPS_Controller/rom_index_4" BEL "GPS_Controller/rom_index_3" BEL
        "GPS_Controller/rom_index_2" BEL "GPS_Controller/rom_index_1" BEL
        "GPS_Controller/rom_index_0" BEL "GPS_Controller/msg_bytes_to_dump_4"
        BEL "GPS_Controller/msg_bytes_to_dump_3" BEL
        "GPS_Controller/msg_bytes_to_dump_2" BEL
        "GPS_Controller/msg_bytes_to_dump_1" BEL
        "GPS_Controller/msg_bytes_to_dump_0" BEL "GPS_Controller/state_4" BEL
        "GPS_Controller/state_3" BEL "GPS_Controller/state_2" BEL
        "GPS_Controller/state_1" BEL "GPS_Controller/state_0" BEL
        "GPS_Controller/msg_type_0" BEL "GPS_Controller/msg_type_2" BEL
        "GPS_Controller/msg_type_3" BEL "GPS_Controller/msg_type_1" BEL
        "GPS_Controller/msg_type_5" BEL "GPS_Controller/msg_type_6" BEL
        "GPS_Controller/msg_type_4" BEL "GPS_Controller/msg_type_8" BEL
        "GPS_Controller/msg_type_9" BEL "GPS_Controller/msg_type_7" BEL
        "GPS_Controller/msg_type_10" BEL "GPS_Controller/msg_type_11" BEL
        "GPS_Controller/msg_type_12" BEL "GPS_Controller/msg_type_13" BEL
        "GPS_Controller/msg_type_15" BEL "GPS_Controller/msg_length_0" BEL
        "GPS_Controller/msg_type_14" BEL "GPS_Controller/msg_length_2" BEL
        "GPS_Controller/msg_length_3" BEL "GPS_Controller/msg_length_1" BEL
        "GPS_Controller/msg_length_5" BEL "GPS_Controller/msg_length_6" BEL
        "GPS_Controller/msg_length_4" BEL "GPS_Controller/msg_length_8" BEL
        "GPS_Controller/msg_length_9" BEL "GPS_Controller/msg_length_7" BEL
        "GPS_Controller/msg_length_11" BEL "GPS_Controller/msg_length_12" BEL
        "GPS_Controller/msg_length_10" BEL "GPS_Controller/msg_length_14" BEL
        "GPS_Controller/msg_length_15" BEL "GPS_Controller/msg_length_13" BEL
        "sends_one/state_FSM_FFd1" BEL "sends_one/state_FSM_FFd2" BEL
        "sends_one/state_FSM_FFd3" BEL "sends_one/state_FSM_FFd4" BEL
        "sends_one/ena" BEL "sends_one/sub_addr_5" BEL "sends_one/sub_addr_4"
        BEL "sends_one/sub_addr_3" BEL "sends_one/sub_addr_2" BEL
        "sends_one/sub_addr_0" BEL "sends_one/data_wr_7" BEL
        "sends_one/data_wr_6" BEL "sends_one/data_wr_5" BEL
        "sends_one/data_wr_4" BEL "sends_one/data_wr_3" BEL
        "sends_one/data_wr_2" BEL "sends_one/data_wr_1" BEL
        "sends_one/data_wr_0" BEL "sends_one/addr_6" BEL
        "sends_one/prev_start" BEL "IMU_I2C_Driver/data_clk" BEL
        "Alt_I2C_Driver/data_clk" BEL "IMU_I2C_Driver/stretch" BEL
        "Alt_I2C_Driver/stretch" BEL "cam_I2C_Driver/stretch" BEL
        "cam_I2C_Driver/scl_clk" BEL "GPS_serial_tx/busy_q" BEL
        "Data_serial_tx/busy_q" BEL "GPS_Controller/tx_send" BEL
        "cam_I2C_Driver/data_clk" BEL "IMU_Controller/data_wr_5" BEL
        "IMU_Controller/data_wr_1" BEL "IMU_Controller/data_wr_4" BEL
        "IMU_Controller/data_wr_7" BEL "IMU_Controller/data_wr_6" BEL
        "IMU_Controller/data_wr_3" BEL "IMU_Controller/data_wr_2" BEL
        "IMU_Controller/data_wr_0" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

