#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk" LOC = P56;
NET "rst_n" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "rst_n" LOC = P38;

#NET "cclk" LOC = P70;

#NET "led<0>" LOC = P134;
#NET "led<1>" LOC = P133;
#NET "led<2>" LOC = P132;
#NET "led<3>" LOC = P131;
#NET "led<4>" LOC = P127;
#NET "led<5>" LOC = P126;
#NET "led<6>" LOC = P124;
#NET "led<7>" LOC = P123;
//NET "servoDrive" LOC = P58;

#NET "pixel<0>" LOC = P26;
#NET "pixel<1>" LOC = P27;
#NET "pixel<2>" LOC = P23;
#NET "pixel<3>" LOC = P24;
#NET "pixel<4>" LOC = P21;
#NET "pixel<5>" LOC = P22;
#NET "pixel<6>" LOC = P16;
#NET "pixel<7>" LOC = P17;
#
#NET "pclk" LOC = P30;
#NET "href" LOC = P35;
#NET "vsync" LOC = P33;

NET "alt_sda_out" LOC = P16;
NET "alt_scl_out" LOC = P14;
NET "imu_sda_out" LOC = P32;
NET "imu_scl_out" LOC = P34;

NET "data_tx" LOC = P133;
NET "data_rx" LOC = P131;

NET "gps_tx" LOC = P139;
NET "gps_rx" LOC = P137;

#
#NET "spi_mosi" LOC = P44;
#NET "spi_miso" LOC = P45;
#NET "spi_ss" LOC = P48;
#NET "spi_sck" LOC = P43;
#NET "spi_channel<0>" LOC = P46;
#NET "spi_channel<1>" LOC = P61;
#NET "spi_channel<2>" LOC = P62;
#NET "spi_channel<3>" LOC = P65;
#
#NET "avr_tx" LOC = P55;
#NET "avr_rx" LOC = P59;
#NET "avr_rx_busy" LOC = P39;
